.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 40px;
  margin: 32px 40px 28px;
}

.header__info {
  display: flex;
  gap: 24px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.header__link {
  align-self: center;
}

.header__logo {
  width: 89px;
}

.header__info_user {
  display: flex;
  gap: 20px;
}

.header__button {
  margin-right: 20px;
  border: none;
  background: transparent;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.header__name {
  margin-right: 12px;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__name_link {
  text-decoration: none;
  color: black;
}

.header__avatar {
  height: 50px;
  width: 50px;
  align-self: center;
  border-radius: 50%;
}

.header__menu {
  display: none;
}

.header__menu_container {
  display: none;
}

.header__buttons {
  border: none;
  background-color: transparent;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 380px) {
  .header {
    margin: 20px 16px;
  }

  .header__info_user {
    display: block;
  }

  .header__menu_container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    height: 44px;
    width: 44px;
  }

  .header__menu {
    display: block;
    margin: auto;
    align-items: center;
    background-image: url("../../images/menu.svg");
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
  }

  .header__info {
    display: block;
  }

  .header__button {
    display: none;
  }

  .header__info_date {
    display: none;
  }

  .header__name_link {
    display: none;
  }

  .header__avatar {
    display: none;
  }
}
