.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 40px;
  margin: 32px 40px 28px;
}

.header__info {
  display: flex;
  gap: 24px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.header__logo {
  width: 89px;
}

.header__info_user {
  display: flex;
}

.header__button {
  margin-right: 20px;
  border: none;
  background: transparent;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.header__name {
  margin-right: 12px;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__avatar {
  height: 40px;
  width: 40px;
  align-self: center;
}

@media screen and (max-width: 900px) {
  .header__info {
    font-size: 16px;
  }

  .header__button {
    font-size: 16px;
  }

  .header__name {
    font-size: 16px;
  }

  .header__avatar {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 90px;
    margin: 16px;
    width: 345px;
  }

  .header__info {
    flex-direction: column;
  }

  .header__info_date {
    margin: 0;
  }

  .header__name {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__avatar {
    display: none;
  }
}
